- if user_signed_in?
  = form_for [commentable, Comment.new] do |f|
    .form-group
      = f.text_area :text, class: "form-control at_who_mentions", placeholder: "Write a comment"
    = f.submit "Add Comment", class: "btn btn-primary"
