- project = activity.trackable
- user = activity.owner
  
= render partial: "/public_activity/header", locals: {activity: activity, text: "added a project"}

= link_to project_path(project) do
  %img{:alt => project.name, :src => model_image(project.image, 800, 600, true), width: "100%",data: {toggle:"tooltip", placement: "bottom"}, title: truncate(project.description, length: 160) }

.card-title.mt-2
  - if project.name.present?
    = link_to project.name, project

%p.card-text
  = render partial: "/likes/like_button", locals: { likeable: project }
