%h1
  Welcome To HireClub

%p
  Hi #{@user.first_name},

%p
  I'm Ketan, and I'm the founder of HireClub.
  When I started HireClub in 2011 with 25 of my friends, I had no idea it would grow to over 10,000 people!
  %strong
    Our goal is to help friends find jobs.

%h3
  Your Profile
%p
  = link_to user_url(@user), user_url(@user)

%h3 Roles - Pick One
%p
  Even if you wear a lot of hats, we suggest adding no more than two roles based on recruiter feedback.

%h3 Skills - Add your top five
%p
  You really don't need more than 10 skills. You can reorder your skills on your profile page.


%h3 Projects - Show off your work
%p
  Even if you aren't a designer, you can screenshot the websites or emails, or whatever else you worked on.
%p
  %strong
    Tag which skills you used during the project. 
  Recruiters love this!

%h3 Milestones - Time to show off!
%p
  %strong
    Use numbers, metrics, and accomplishments #humblebrag.
%p
  Milestones are how you stand out to hiring managers. The design and format is based on hundreds of interviews with hiring managers to help you get seen.
%p
  %strong
    Don't just put what you did, but how you did it better.
/ %p
/   Check out these awesome profiles for inspiration:
/   %ul
/     %li
/       1
/     %li
/       2
/     %li
/       3
%p
  %strong
    Add a milestone at least once a month.


%h3 Feedback
%p
  You can always email me at #{link_to 'ketan@hireclub.co', 'mailto:ketan@hireclub.co'}.
  %strong
    I read every email you send.

%p
  Ketan Anjaria
  %br
  HireClub Founder
  %br
  = link_to "https://hireclub.co/kidbombay", "https://hireclub.co/kidbombay"
