.container.mt-5.mb-5
  .row.mt-5
    .col-sm-12
      %h1 HireClub
      %h2 Helping 9000+ friends find jobs

    .col-md-6
      %p.mt-4
        In March 2011 I invited 25 of my friends to a group on Facebook.
      %p
        %strong We had our first interview that day.
      %p
        %strong We had our first hire that week.

      %hr
      %h6.mt-4.mb-4 Rule #1
      %h4.titlecase HireClub is Invite Only
      %p You have to be invited to join. Your reputation is everything.

      %hr
      %h6.mt-4.mb-4 Rule #2
      %h4.titlecase Post Jobs you have direct access to
      %p You should either be the hiring manager or have inside access. Move fast.

      %hr
      %h6.mt-4.mb-4 Rule #3
      %h4.titlecase Vouch For Your Friends
      %p Tag your friends who would be great for jobs. Let the world know how awesome they are.

      %hr