.container.content_container
  .row
    .col-sm-12
      %h1 Contact
      %dt
        Email
      %dd
        = link_to "help@hireclub.co", "mailto:help@hireclub.co"
      %dt
        Facebook
      %dd
        = link_to "facebook.com/groups/hireclub", "http://fb.com/groups/hireclub"
      %dt
        Twitter
      %dd
        = link_to "@hireclub", "http://twitter.com/hireclub"
