.media
  = link_to image_tag(company_avatar(company.avatar, 200, true), width: 52, class: 'd-flex mr-3 rounded'), company
  .media-body
    %h5.mt-0
      = link_to company.name, company
    = link_to_follow_company(company, current_user)
    %small
      = pluralize(company.followers_count, "Follower")
%hr
