// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project {
  .card {
    .card-block {
      padding: 0.75rem;
    }
    .card-title {
      font-weight: 500;
      letter-spacing: .02rem;
    }
  }
}